/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Generic Styles - work on every page */
.container {
	margin: 0 60px;
	width: 880px;
}

/* Super Huge!! */
h1 {
	font-size: 72px;
	font-weight: bolder;
}

/* Not so huge */
h2 {
	font-size: 24px;
	font-weight: bolder;
}

h3 {
	margin-bottom: 17px;
}

p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.14em;
}

button {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: black;
	border-color: #027DDD;
	color: #027DDD;
}

button:active {
	background-color: #12E15F;
	border-color: black;
	color: black;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 0px;
}

nav div {
	width: 600px;
	display: flex;
	justify-content: space-between;
}

nav a {
	color: lightgrey;
	font-size: 14px;
	font-weight: bolder;
	text-decoration: none;
}

header {
	border-bottom: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

header div {
	height: 290px;
	width: 330px;
	margin-left: 70px;
	text-align: center;
}

header h1 {
	height: 225px;
	letter-spacing: 6px;
}

section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

section img {
	margin-bottom: 37px;
}

address {
	border-top: 1px solid black;
}

address h3 {
	margin-top: 37px;
}

address div {
	line-height: 3.73;
}

footer {
	font-size: 14px;
	margin: 57px 0px;
	text-align: center;
}

/* Index Page styles */
.tall-header {
	height: 500px;
}

.gs-header-img {
	margin-bottom: 35px;
}

.gs-button {
	font-family: inherit;
	font-size: 17px;
	padding: 3px 45px;
}

.main-info {
	margin-top: 38px;
	margin-bottom: 36px;
	width: 426px;
}

.extra-info {
	width: 276px;
	margin-bottom: 46px;
}

/* Services Page Styles */
.services-container {
	height: 800px;
	border-bottom: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
}

.services-info {
	width: 425px;
	/* height: 300px; */
	padding: 20px;
	background-color: lightgrey;
	border: 1px solid black;
}

.services-button {
	border-radius: 3px;
	font-family: inherit;
	font-size: 12px;
	height: 35px;
	width: 140px;
}